
@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

* {
    box-sizing: border-box;
}

body {
    background-image: url(./winter.jpg);
    background-size: cover;
    background-position: center center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    font-family: 'Ubuntu', sans-serif;
    margin: 0;
}

h1 {
    display: flex;
    border-color: white;
    border-radius: 10%;
    font-weight: normal;
    font-size: 2.5em;
    margin-top: -11em;
}

h2 {
    font-weight: bold;
    font-size: 1.5em;
    margin-top: 15em;
}

.contagem-container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.texto-grande { 
    font-weight: bold;
    font-size: 5.5em;
    line-height: 1;
    margin: 0em 0.4em;
}

.contagem-el {
    text-align: center;
}

.contagem-el span {
    font-variant-caps: all-petite-caps;
    font-weight: bold;
    font-style: normal;
    font-size: 1.3em;
}